apiVersion: v1
kind: PersistentVolume
metadata:
  name: laravel-storage-pv
  namespace: production
spec:
  capacity:
    storage: 10Gi
  volumeMode: Filesystem
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  storageClassName: nfs-client
  nfs:
    path: /srv/nfs/k8s-data
    server: 10.0.0.100

---

apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: laravel-storage-pvc
  namespace: production
spec:
  resources:
    requests:
      storage: 10Gi
  volumeMode: Filesystem
  storageClassName: nfs-client
  accessModes:
    - ReadWriteMany

---

apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-config
  namespace: production
data:
  default.conf: |
    server {
        listen 80;
        index index.php index.html;
        root /var/www/html/public; # Laravel's public folder

        location / {
            try_files $uri $uri/ /index.php?$query_string;
        }

        location ~ \.php$ {
            # '127.0.0.1' works because they share the same Pod network
            fastcgi_pass 127.0.0.1:9000; 
            fastcgi_index index.php;
            include fastcgi_params;
            fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
            fastcgi_param PATH_INFO $fastcgi_path_info;
        }

        location ~ /\.ht {
            deny all;
        }
    }


---

apiVersion: v1
kind: ConfigMap
metadata:
  name: laravel-config
  namespace: production
data:
  DB_CONNECTION: pgsql
  DB_HOST: db
  DB_PORT: "5432"
  DB_DATABASE: laravel
  DB_USERNAME: laravel

---

apiVersion: v1
kind: Secret
metadata:
  name: laravel-secret
  namespace: production
type: Opaque
data:
  APP_KEY: "YmFzZTY0OnZtY2twMGZCbHVyVGY2anBVSnBrbk5zVUV2VnRuMTNsdmFYNVJyZ1lKRzA9Cg=="
  DB_PASSWORD: "bGFyYXZlbAo="
  DB_ROOT_PASSWORD: "bGFyYXZlbAo="

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: laravel-app
  namespace: production
spec:
  replicas: 3
  selector:
    matchLabels:
      app: laravel-app
  template:
    metadata:
      labels:
        app: laravel-app
    spec:
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              podAffinityTerm:
                labelSelector:
                  matchExpressions:
                    - key: app
                      operator: In
                      values:
                        - laravel-app
                topologyKey: name
      volumes:
        - name: laravel-storage
          persistentVolumeClaim:
            claimName: laravel-storage-pvc
        - name: config-volume
          configMap:
            name: nginx-config
        - name: app-data
          emptyDir: {}
      initContainers:
      - name: code-provider
        image: liszlisowni/laravel-app:v1
        command: 
          - "sh"
          - "-c"
          - | 
            cp -rp /var/www/html/. /shared/

            echo "Waiting for mysql-svc..."
            until nc -z -v -w30 db-svc 5432; do
              echo "Postgres is unavailable - sleeping"
              sleep 2
            done
            echo "Postgres is up - running migrations"
            php artisan migrate --force
            php artisan storage:link

      containers:
      - name: nginx
        image: nginx:latest
        resources:
          requests:
            memory: "128Mi"
            cpu: "256m"
          limits:
            memory: "256Mi"
            cpu: "500m"
        ports:
        - containerPort: 80
        volumeMounts:
          - mountPath: /var/www/html
            name: app-data
          - mountPath: /etc/nginx/conf.d/default.conf
            name: config-volume
            subPath: default.conf
      - name: laravel-app
        image: liszlisowni/laravel-app:latest
        resources:
          requests:
            memory: "128Mi"
            cpu: "256m"
          limits:
            memory: "256Mi"
            cpu: "500m"
        volumeMounts:
          - mountPath: /var/www/html/storage/app/
            name: laravel-storage
        env:
          - name: APP_KEY
            valueFrom:
              secretKeyRef:
                name: laravel-secret
                key: APP_KEY
          - name: DB_CONNECTION
            valueFrom:
              configMapKeyRef:
                name: laravel-config
                key: DB_CONNECTION
          - name: DB_HOST
            valueFrom:
              configMapKeyRef:
                name: laravel-config
                key: DB_HOST
          - name: DB_PORT
            valueFrom:
              configMapKeyRef:
                name: laravel-config
                key: DB_PORT
          - name: DB_DATABASE
            valueFrom:
              configMapKeyRef:
                name: laravel-config
                key: DB_DATABASE
          - name: DB_USERNAME
            valueFrom:
              configMapKeyRef:
                name: laravel-config
                key: DB_USERNAME
          - name: DB_PASSWORD
            valueFrom:
              secretKeyRef:
                name: laravel-secret
                key: DB_PASSWORD

        ports:
        - containerPort: 9000

---

apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: db
  namespace: production
spec:
  selector:
    matchLabels:
      app: db
  serviceName: db-svc
  replicas: 1
  template:
    metadata:
      labels:
        app: db
    spec:
      containers:
      - name: db
        image: postgres:18
        resources:
          requests:
            memory: "256Mi"
            cpu: "500m"
          limits:
            memory: "512Mi"
            cpu: "1000m"
        ports:
        - containerPort: 5432
        env:
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              name: laravel-secret
              key: DB_PASSWORD
        - name: POSTGRES_USER
          valueFrom:
            configMapKeyRef:
              name: laravel-config
              key: DB_USERNAME
        - name: POSTGRES_DB
          valueFrom:
            configMapKeyRef:
              name: laravel-config
              key: DB_DATABASE
        - name: POSTGRES_PASSWORD_ROOT
          valueFrom:
            secretKeyRef:
              name: laravel-secret
              key: DB_ROOT_PASSWORD
        volumeMounts:
        - name: db-data
          mountPath: /var/lib/postgresql
  volumeClaimTemplates:
  - metadata:
      name: db-data
    spec:
      accessModes: [ "ReadWriteOnce" ]
      resources:
        requests:
          storage: 10Gi

---

apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: laravel-hpa
  namespace: production
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: laravel-app
  minReplicas: 2
  maxReplicas: 10
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 50
  - type: Resource
    resource:
      name: memory
      target:
        type: Utilization
        averageUtilization: 50
  
  behavior:
    scaleUp:
      stabilizationWindowSeconds: 0 
      policies:
        - periodSeconds: 15
          type: Percent
          value: 100
    scaleDown:
      stabilizationWindowSeconds: 300
      policies:
        - periodSeconds: 60
          type: Percent
          value: 50 

---

apiVersion: v1
kind: Service
metadata:
  name: laravel-svc
  namespace: production
spec:
  sessionAffinity: ClientIP
  type: LoadBalancer
  selector:
    app: laravel-app
  ports:
  - protocol: TCP
    port: 80
    targetPort: 80

---

apiVersion: v1
kind: Service
metadata:
  name: db-svc
  namespace: production
spec:
  selector:
    app: db
  ports:
  - protocol: TCP
    port: 5432
    targetPort: 5432
